#surface-div1 {
	position: relative;
	width: 96%;
	height: 225px;
	float: left;
	margin-top: 10px;
	margin-left: 4px;
	cursor: pointer;
	background: url(../../../static/img/addheadpic.jpg)center center no-repeat;
	text-align: center;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	overflow: hidden;
}

#surface-div1 img {
	position: absolute;
	height: 100%;
	/*width: 100%;*/
	top: 50%;
	left: 0;
	transform: translateY(-50%) scale(1);
	border: none;
	border-radius: 6px;
	display: table-cell
}